@font-face{
  font-family:'earth';
  src:url('../media/font.ttf') format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "earth", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
